Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]


# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.buildifie\.com$ [NC]
RewriteRule ^(.*)$ https://buildifie.com/$1 [L,R=301]