*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(#fff);
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

p{
  font-size: 18px;
}

body {
  overflow-x: hidden;
}


@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoomIn 1.5s ease-in-out forwards;
}